/* Import Clear Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Clear+Sans:wght@300;400;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clear Sans', sans-serif;
}
body {
    background-color: #121212; /* Dark background */
    background-image: url(https://i.nuuls.com/kG637.png);
    background-repeat: repeat;
    background-size: 300px 300px; /* Adjust this to control pattern scaling */
    animation: animate-bg 10s linear infinite;
    line-height: 1.6;
    padding-top: 60px;
    text-align: center;
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 300px 300px; /* Moves smoothly, adjust for speed */
    }
}



/* Navbar */
.navbar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: rgba(30, 30, 30, 0.50); /* More transparent background */
    backdrop-filter: blur(2px); /* Blurred background effect */
    -webkit-backdrop-filter: blur(2px); /* Safari supporLogt */
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

/* Logo Styling */
.logo img {
    height: 60px; /* Adjust logo size */
    width: auto;
}



/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    
}

.nav-links li a {
    text-decoration: none;
    color: #E0E0E0;
    font-weight: 600;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
}

.nav-links li a:hover {
    color: #6200EE;
    transform: scale(1.1);
}

/* Spacer for alignment */
.spacer {
    flex-grow: 1;
}

/* Social Media Icons */
.socials {
    display: flex;
    gap: 10px;
}
.light-mode .nav-links li a {
    color: #333;
}
.light-mode .nav-links li a:hover{
    color:#6200EE;
}

.socials a {
    color:#E0E0E0;
    font-size: 1.4rem;
    transition: transform 0.3s;
    margin-right: 10px;
}

.socials a:hover {
    transform: scale(1.2);
}


.divider {
    display: inline-block;
    margin: 0 10px;
    border-left: 1px solid #585858; /* Creates a vertical line */
    height: 25px; /* Adjust to match your nav height */
}


/* Tema chiaro */
.light-mode {
    background: url(https://i.nuuls.com/kG637.png);
    color: #333;
    background-color: #E0E0DF; /* Dark background */
    background-repeat: repeat;
    background-size: 300px 300px; /* Adjust this to control pattern scaling */
    animation: animate-bg 10s linear infinite;
    line-height: 1.6;
    padding-top: 60px;
    text-align: center;
    
}



.light-mode .navbar {
    background: rgba(255, 255, 255, 0.8);
}

.light-mode section {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px); /* Blurred background effect */
    -webkit-backdrop-filter: blur(3px); /* Safari support */
   

}

.light-mode #skill {
    backdrop-filter: blur(2px); /* Blurred background effect */
    -webkit-backdrop-filter: blur(2px); /* Safari support */

}


.light-mode h1,
.light-mode h2,
.light-mode p {
    color: #333;
}

.light-mode .card {
    background:  #c7c7c7ad;;
    color: #333;
}

.light-mode #theme-toggle {
    color: #333;
}



#theme-toggle {
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: #E0E0E0;
    margin-left: 8px;
    padding: 5px; /* Opzionale: per mantenere l'area cliccabile */
    outline: none; /* Rimuove il bordo del focus */
}


#theme-toggle i {
    border: none; /* Rimuove qualsiasi bordo interno */
    outline: none; /* Rimuove il bordo del focus */
}

#theme-toggle:hover {
    color: #6200EE;
}

.socials :hover {
    color:#6200EE;
}

.light-mode #theme-toggle:hover {
    color: #6200EE;
}

/* Header */
header {
    padding: 80px 20px;
   
    border-radius: 20px;
    margin: 30px auto;
    width: 90%;
}

h1 {
    color: #E0E0E0;
}

p {
    color: #E0E0E0;
}

.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
   /* border: 5px solid #6200EE; /* Light purple border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Soft shadow for depth */
}
.logo {
    margin-right: 30px; /* Adjust the value as needed */
}
/* Sections */
section {
    margin: 40px auto;
    width: 90%;
    padding: 20px;
    background: #80807e38; /* More transparent background */
    backdrop-filter: blur(3px); /* Blurred background effect */
    -webkit-backdrop-filter: blur(3px); /* Safari support */
    text-align: left;
    border: 0.1px solid rgba(126, 126, 126, 0.075);
 
    border-radius: 15px;
    
    
}
#warning {
    margin-top: 20%;
    width: 50%;
    padding: 20px;
    background: #80807e38; /* More transparent background */
    
    backdrop-filter: blur(3px); /* Blurred background effect */
    -webkit-backdrop-filter: blur(3px); /* Safari support */
    text-align: left;
    border: 0.1px solid rgba(145, 27, 27, 0.075);

}

h2 {
    color:#E0E0E0; /* Soft purple for headers */
    margin-bottom: 10px;
}

.light-mode .socials a {
    color: #333;
}

/* Typing Effect */
#typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid rgba(255, 255, 255, 0.75); /* Cursor effect */
    padding-right: 5px;
    animation: blink-caret 0.75s step-end infinite;
    font-size: 2em;
    color: #6200EE;
}



/* Cursor Blink Animation */
@keyframes blink-caret {
    50% {
        border-color: transparent; /* Makes the cursor disappear */
    }
}


/* Skills Section */
#skills {
    margin: 40px auto;
    width: 35%;
    padding: 20px;
    background: #8d8d8a11;;
    padding-top: 50px;
    border-radius: 15px;
    text-align: left;
}


@media (max-width: 768px) {
    .navbar {
        justify-content: center;
        z-index: 9999;
        justify-content: center; /* Centra completamente gli elementi */
        flex-direction: column; /* Impila gli elementi verticalmente */
        text-align: center; /* Allinea il testo */
        
    }

    #warning{
        margin-top: 60%;
        width: 90%;
    }

    .logo,
    .socials,
    #theme-toggle {
        display: none; /* Nasconde logo, social e toggle dark mode */
    }

    .nav-links {
        gap: 10px;
    }

    .nav-links li a {
        font-size: 14px;
    }

#typing-text {
    font-size: 1em; /* Ridurre la dimensione del font su schermi piccoli */
}

header {
    margin:auto;
}

section {
    width: 50%;
}

.divider {
    display: none;
}

.skills-cards {
    justify-content: left;
}

.card {
    width: auto; /* Adatta ancora meglio la larghezza nei dispositivi piccoli */
}

#skills {
    margin: 40px auto;
    width: 90%;
    padding: 20px;
    background: rgba(109, 109, 109, 0.171);
    
    border-radius: 15px;
    text-align: left;
}
.light-mode .card {
    background-color: #c7c7c7ad;
}
}


#skills h2 {
    color: #E0E0E0;
    margin-bottom: 15px;
}

/* Skill Cards */
.skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
    margin-top: 15px;
}

/* Individual Skill Card */
.card {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 8px;
    background: rgba(119, 119, 119, 0.06);
    padding: 8px 8px;
    border-radius: 6px;
    

    font-size: 14px;
    color: #E0E0E0;
    transition: transform 0.2s, box-shadow 0.2s;
    
    /* 🔥 Adatta la larghezza al contenuto 🔥 */
    width: fit-content;
    


}
.light-mode #skills h2 {
    color: #333;;
    margin-bottom: 15px;

}



/* Hover Effect */
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}



.card img {
    width: 24px;  /* Imposta una larghezza simile alle icone FontAwesome */
    height: 24px; /* Imposta un'altezza uguale */
    object-fit: contain; /* Mantiene le proporzioni originali */
}